<div>
<ul class="list-unstyled">
    <li>
        <button type="button" (click)="irFuturo()" class="btn btn-outline-info">Futuros</button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-info">Opciones</button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-info">FyO</button>
    </li>
    <li>
        <button type="button" (click)="irCoberturaFuturo()" class="btn btn-outline-info">Cobertura Futuros</button>
    </li>
    <li>
        <button type="button" (click)="irCoberturaOpcion()" class="btn btn-outline-info">Cobertura Opciones</button>
    </li>
</ul>
</div>